.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  background-color: gray;
  cursor: pointer;
}
.btn:hover, .btn.active {
  background-color: greenyellow;
}